body {
    margin:0; padding:0;
}

html, body, #bg {
    height:100%;
    width:100%;
}
#bg {
    background-size: cover;
    position:fixed; 
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index:-1;
    opacity: .3;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#login_button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;

    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

    border-radius: 5px;
    border: none;
    margin-right: 5%;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    text-decoration: none;
    
}
#signup_button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

    border-radius: 5px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    border: none;
    text-decoration: none;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 20px 0px 0px 0px;
    background-color: #f7f7f7;
}
.login-title
{
    color: #555;
    font-size: 36px;
    display: block;
    font-family: "PT Sans", sans-serif;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

button {
    color: black;
}

.login-section, .account-wall {
    background-color: #ecf0f1;
}

.login-section {
    border: 2px solid;
    border-radius: 5px;
}

.container-fluid .title {
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.home {
    padding-bottom: 100px;
    background-color: #ecf0f1;
    border-radius: 10px;
    border: 2px solid;
}

body {
    margin-top: 100px;
}

input {
    margin-bottom: 10px;
    width: 100%;
}

.listed-patient {
    text-align: center;
}

.card {
    background-color: #eeeeee;
    padding-left: 50px;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.page-header {
    text-align: center;
}