<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Boldsand:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel = "stylesheet" type = "text/css" href="/static/css/styles.css">
    </head>
        
    <body>
    
        <img id="bg" src="http://www.cdc.gov/stroke/images/medical_conditions.jpg">
        <div style="text-align: center">
            <h1 class="title">Pulse</h1>
            <h3 style="font-size: 40px; font-family: Quicksand, sans-serif; font-weight: bolder; margin-bottom: 7%;"><i>Making Care Simpler</i></h3>
            <a href="/login"><button id="login_button" type="button">Login</button></a>
            <a href="/register"><button id="signup_button" type="button">Sign Up</button></a>
        </div>
        
    </body>
</html>