<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel = "stylesheet" type = "text/css" href="/static/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        <img id="bg" src="http://www.cdc.gov/stroke/images/medical_conditions.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 login-section">
                    {% if error %}
                        <h2>{{ error }}</h2>
                    {% endif %}
                    <h1 class="text-center login-title">Sign in to continue to Pulse</h1>
                    <div class="account-wall">
                        <form class="form-signin" method="post">
                            <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
                            <input name="password" type="password" class="form-control" placeholder="Password" required>
                            <button style="margin-top: 10px" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                    <h5 class="text-center">Don't have an account? <a href="/register" class="text-center new-account">Create one.</a></h5>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </body>
</html>